body {
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,228,199,1) 0%, rgba(255,231,204,1) 100%);
}


html, body {
	height: 100%;
	overflow-y: hidden;
	margin: 0px;
}

.btn-tab{
	font-family: elfboyclassic;
	font-size: 30px;
	background-color: transparent;
	padding: 10px;
	border: 0px;
}

.btn-tab:hover{
	background-color: #cc66ff;
}

.selected-btn{
	background-color: pink;
}

.selected-btn:hover{
	background-color: pink !important;
}
button:focus{
	outline:0 !important;
}

.container {
	background-color: ;
	
}

.transparent {
	background-color: transparent;
}

.tab {
	height: 75% !important;
}

.bg-pink {
	background-color: pink;
}

ul {
  list-style-type: none;
}