@font-face {
  font-family: 'extrude';
  src: URL('../fonts/Extrude-90aK.ttf') format('truetype');
}
@font-face {
  font-family: 'pixeboy';
  src: URL('../fonts/Pixeboy-z8XGD.ttf') format('truetype');
}
@font-face {
  font-family: 'elfboyclassic';
  src: URL('../fonts/Elfboyclassic-PKZgZ.ttf') format('truetype');
}
@font-face {
  font-family: 'bloxat';
  src: URL('../fonts/Bloxat-PDoE.ttf') format('truetype');
}
@font-face {
  font-family: 'EightBitDragon';
  src: URL('../fonts/EightBitDragon-anqx.ttf') format('truetype');
}
@font-face {
  font-family: 'GridkingRegular';
  src: URL('../fonts/GridkingRegular-77vw.ttf') format('truetype');
}
@font-face {
  font-family: 'metalHead';
  src: URL('../fonts/MetalHead-GLqZ.ttf') format('truetype');
}

